.widget_cambodia_cards {
  width: 100%;
}

.cambodia-horizontal {
  overflow: auto;
  white-space: nowrap;
}

.widget_cambodia_cards > .cambodia-link,
.widget_cambodia_cards > .cambodia-link:hover,
.widget_cambodia_cards > .cambodia-link:focus,
.widget_cambodia_cards > .cambodia-link:active {
  box-shadow: none;
}

.cambodia-card {
  background-color: white;
  color: black;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 8px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cambodia-card p,
.cambodia-card h3 {
  margin: 0;
  padding: 0;
}

.cambodia-horizontal .cambodia-card {
  display: inline-block;
  max-width: 400px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cambodia-vertical .cambodia-card {
  width: 100%;
}

.cambodia-card.cambodia-hoverable:hover {
  cursor: pointer;
}

.cambodia-card.cambodia-hoverable:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cambodia-default-card {
  padding: 8px;
}

.cc-card-content.blue,
.cc-card-content.blue h3 {
  background-color: #1E88E5;
  color: white;
}

.cc-recent-card .cc-card-content {
  padding: 8px;
}

.cc-recent-card .author {
  font-style: italic;
}
